*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    background-color:#1F232E;
}
.my-blog-div{
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin:10px;
}
.my-blog-div span{
    color:aqua;
    font-weight: bolder;
}
#portfoli-btn{
    background-color: #1F232E;
    color:#02EBFF;
    border:#02EBFF solid 1px;
    width:150px;
    height:40px;
    border-radius:10px;
    font-size: 17px;
    margin:15px;
}
#portfoli-btn:hover{
    background-color: #02EBFF;
    border:#1F232E solid 1px;
    color: black ;
    font-weight: bolder;
}
#portfolio-logo:hover{
    background-color: #02EBFF;
}

.outer-div{
    background-color:white;
    display:inline-block
    
}
.father-div{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}
#div-to-center{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    margin-bottom:30px;
}
.img1{
    width:100%;
    height:300px;
}
.div-with-img{
    padding:20px;
    background-color:white
}
.div-with-text p{
    background-color:white;
}
.div-with-text{
    display:flex;
    gap:320px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.div-with-header h3{
    background-color:white;
    font-size: 15px;
   
}
.div-with-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.div-with-intro p{
    background-color:white;
    font-size: 12px;;
}
.div-with-intro {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin:5px;
}


.div-with-like{
    background-color:white
}
.div-with-like-icons{
    background-color: white;
}
.div-with-comment-btn{
    background-color: white;
    margin:5px;
}
.comment-btn{
    background-color:aqua;
    color:#1F232E;
    font-weight:bolder;
    border:aqua solid 1px;
    padding:5px;
    border-radius: 5px;;
}
.comment-btn:hover{
    color:aqua;
    background-color: #1F232E;
}
#icon1{
    color:red;
   
}