*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
   
}
.like-icon{
    color:white;
    font-size:30;
}
body{
    background-color: #1F232E;
}
.my-blog-div{
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin:10px;
}

.my-blog-div span{
    color:aqua;
    font-weight: bolder;
}
#portfoli-btn{
    background-color: #1F232E;
    color:#02EBFF;
    border:#02EBFF solid 1px;
    width:150px;
    height:40px;
    border-radius:10px;
    font-size: 17px;
    margin:15px;
}
#portfoli-btn:hover{
    background-color: #02EBFF;
    border:#1F232E solid 1px;
    color: black ;
    font-weight: bolder;
}
#portfolio-logo:hover{
    background-color: #02EBFF;
}

#center{
    display:flex;
    justify-content: center;
    
}
#father-single{
    width:500px
}
.imgDiv{
    display:flex;
    justify-content:center;
}
.dateDiv{
    display:flex;
    justify-content: space-between;
    margin-top:5px
}
.titleDiv{
    display:flex;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
    
}
.titleDiv p{
    color:rgb(115, 115, 208)
}
.contentDiv{
    display:flex;
    justify-content: center;
}

.currentImage{
    width:700px;
    height:300px;
}
.datePar-date{
    color:#02EBFF;
}
.titlePar{
    color:white;
}
.contentPar{
    color:white;
   
    
}
.like-Div{
    display:flex;
    gap:10px
}
.like-icon:hover{
    color:red;
    font-size:30;
}
.numberCount{
    color:blue;
    font-weight: bolder;
}
.commentFather{
    margin-top:20px;
    margin-bottom: 20px;
    border:#02EBFF solid 1px;
    border-radius: 5%;
}

.commentTitle{
    margin-top:5px;
    color:aqua;
    display:flex;
    justify-content: center;
}
.divName{
    display:flex;
    justify-content:space-between;
    margin-right:5px;
    margin-left:5px;
   
    margin-top:10px;
    
}
.firstname{
    width:220px;
    height:20px;
}
.lastname{
    width:220px;
    height:20px;
}
.textAreaDiv{
    margin-top:10px;
    margin-right:5px;
    margin-left:5px
}
.textarea{
    width:100%;
    height:200px;
}
.submit-btn-Div{
    display:flex;
    justify-content:center;
    margin-top:10px;
    margin-bottom: 10px;
}
.submit-btn{
    width:100px;
    color:black;
    font-weight: bolder;
}
.submit-btn:hover{
    width:100px;
    color:#1F232E;
    background-color: #02EBFF;
    font-weight: bolder;
}
